## Librerias y funciones utilizadas

In [1]:
import pandas as pd
import random


def next_turn(dataframe):
    """Examina el dataset y escoge el primer nombre con el valor minimo de la columna Count"""
    count_min = dataframe["Count"].min()
    return dataframe[dataframe["Count"]==count_min]["Nombre"].iloc[0]


def next_turn_random(dataframe):
    """Selecciona un nombre aleatorio entre los que tengan el valor minimo de la columna Count"""
    count_min = data["Count"].min()
    candidatos = data[data["Count"] == count_min]
    nombre_aleatorio = candidatos.sample()
    return nombre_aleatorio["Nombre"].to_string().split()[1] 


def update_dataset(dataframe, name):
    """Suma 1 al count del nombre especificado"""
    dataframe.loc[dataframe["Nombre"] == name, "Count"] += 1
    return dataframe


def manual_update(dataframe, names, count_values):
    """Actualizar manualmente el dataframe: 'name' y 'count_value' pueden ser listas, en cuyo caso 
    deberan tener el mismo numero de elementos"""
    if type(names) is list:
        for i in range(0, len(names)):
            dataframe.loc[dataframe["Nombre"] == names[i], "Count"] = count_values[i]
        return dataframe
    else:
        dataframe.loc[dataframe["Nombre"] == names, "Count"] = count_values
        return dataframe


def guardar_cambios(dataframe, filename):
    """Guarda el dataframe en formato CSV con el nombre especificado"""
    dataframe.to_csv(filename, index=False, header=False)

## Leer base de datos

In [9]:
data = pd.read_csv('offtopic_history.csv',
                  names = ["Nombre", "Count"])
data

        Nombre  Count
0      Santino      3
1       Daniel      4
2      Gonzalo      4
3        Jaime      3
4      Nicolas      4
5       Carlos     20
6      Khadija      4
7       Noelia      4
8        Sonia      3
9     Almudena      4
10      Teresa      3
11  Juan Pablo     10

## Determinar a quien le toca el siguiente offtopic

#### a) Segun el orden fijo

In [ ]:
# # Orden fijo
# siguiente = next_turn(data[2:])
# print(f"Siguiente offtopic: {siguiente}")

#### b) Aleatoriamente

In [19]:
# Seleccionar aleatoriamente entre los que tengan menos offtopics
siguiente = [next_turn_random(data)]
print(f"Siguiente offtopic: {siguiente[0]}")

Siguiente offtopic: Teresa

## Actualizar el dataset (una vez que se presente el offtopic)

In [3]:
siguiente = ["Carlos", "Teresa"]
for element in siguiente:
    update_dataset(data, element)
data

        Nombre  Count
0      Santino      3
1       Daniel      4
2      Gonzalo      4
3        Jaime      3
4      Nicolas      4
5       Carlos     10
6      Khadija      4
7       Noelia      4
8        Sonia      3
9     Almudena      4
10      Teresa      3
11  Juan Pablo     10

## Guardar cambios y actualizar el archivo CSV

In [8]:
nombre_archivo = 'offtopic_history.csv'
guardar_cambios(data, nombre_archivo)

## Actualizacion manual (opcional)

In [7]:
# La actualizacion manual permite cambiar varios valores a la vez si se usan listas en los argumentos
lista_nombres = ["Carlos", "Juan Pablo"] # 2 y 1 al 07/11/2022
lista_valores = [20,10]
manual_update(data, lista_nombres, lista_valores)
data

        Nombre  Count
0      Santino      3
1       Daniel      4
2      Gonzalo      4
3        Jaime      3
4      Nicolas      4
5       Carlos     20
6      Khadija      4
7       Noelia      4
8        Sonia      3
9     Almudena      4
10      Teresa      3
11  Juan Pablo     10

In [ ]:
# Otro ejemplo: fijar todos los valores a 1
alumnos = ["Teresa", "Jaime", "Noelia", "Khadija", "Nicolas", \
         "Gonzalo", "Carlos", "Juan Pablo", "Sonia", "Almudena"]
valores = [1 for i in alumnos]
manual_update(data, alumnos, valores)
data