## Librerias y funciones utilizadas

In [1]:
import pandas as pd


def next_turn(dataframe):
    """Examina el dataset y escoge el primer nombre con el valor minimo de la columna Count"""
    count_min = dataframe["Count"].min()
    return dataframe[dataframe["Count"]==count_min]["Nombre"].iloc[0]


def update_dataset(dataframe, name):
    """Suma 1 al count del nombre especificado"""
    dataframe.loc[dataframe["Nombre"] == name, "Count"] += 1
    return dataframe


def manual_update(dataframe, names, count_values):
    """Actualizar manualmente el dataframe: 'name' y 'count_value' pueden ser listas, en cuyo caso 
    deberan tener el mismo numero de elementos"""
    if type(names) is list:
        for i in range(0, len(names)):
            dataframe.loc[dataframe["Nombre"] == names[i], "Count"] = count_values[i]
        return dataframe
    else:
        dataframe.loc[dataframe["Nombre"] == names, "Count"] = count_values
        return dataframe


def guardar_cambios(dataframe, filename):
    """Guarda el dataframe en formato CSV con el nombre especificado"""
    dataframe.to_csv(filename, index=False, header=False)

## Leer base de datos

In [3]:
data = pd.read_csv('offtopic_history.csv',
                  names = ["Nombre", "Count"])
data

     Nombre  Count
0   Gonzalo      1
1     Jaime      1
2   Nicolas      1
3    Carlos      0
4    Teresa      0
5     Sonia      0
6    Noelia      0
7      Juan      0
8  Almudena      0
9   Khadija      0

## Determinar a quien le toca el siguiente offtopic

In [4]:
siguiente = next_turn(data)
print(f"Siguiente offtopic: {siguiente}")

Siguiente offtopic: Carlos

## Actualizar el dataset (una vez que la persona ya presento)

In [5]:
update_dataset(data, siguiente)
data

     Nombre  Count
0   Gonzalo      1
1     Jaime      1
2   Nicolas      1
3    Carlos      1
4    Teresa      0
5     Sonia      0
6    Noelia      0
7      Juan      0
8  Almudena      0
9   Khadija      0

## Guardar cambios y actualizar el archivo CSV

In [ ]:
nombre_archivo = 'offtopic_history.csv'
guardar_cambios(data, nombre_archivo)

## Actualizacion manual (opcional)

In [ ]:
# La actualizacion manual permite cambiar varios valores a la vez si se usan listas en los argumentos
lista_nombres = ["Teresa", "Juan", "Khadija"]
lista_valores = [2, 3, 5]
manual_update(data, lista_nombres, lista_valores)
data

In [ ]:
# Otro ejemplo 
alumnos = ["Teresa", "Jaime", "Noelia", "Khadija", "Nicolas", \
         "Gonzalo", "Carlos", "Juan", "Sonia", "Almudena"]
valores = [1 for i in alumnos]
manual_update(data, alumnos, valores)
data